**/node_modules
.git
.github
**/.next
**/.turbo
.turbo
.yarn/*
!.yarn/releases
.vscode
.claude
.omc
**/.env
**/.env.*
**/coverage
**/*.tsbuildinfo
**/out
*.md
**/*.md
Dockerfile
.dockerignore
deploy
*.pem
.DS_Store
apps/*/vercel.json
